.Toolbar {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  border-bottom: 1px solid brown;
  z-index: 90;
  background-color: #F08E4A;
}

.Toolbar__nav {
  height: 100%;
}