.Sidebar {
  width:280px;
  max-width: 70%;
  height: 100%;
  background-color: #EB7A3B;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-out;
}

.Sidebar_isOpen {
  transform: translateX(0);
}

.Sidebar_isClosed {
  transform: translateX(-100%);
}

.Sidebar__logo {
  height: 20%;
  margin-bottom: 30%;
}

@media (min-width: 500px) {
  .Sidebar {
    display: none;
  }
}

